$background-light: #c7c5c5;
$background-page-light: #ffffff;
$background-page-dark: #1c1c1c;
$ribbon-light: #f86a6a;
$ribbon-dark: #6d6d6d;
$font-Data-Size: 12px;
// $font-Data-Size-Small: 10px;
$font-h2-Size: 14px;
$font-Size: clamp(13px, 1.8vh, 2vh);
$font-Size-Big: clamp(15px, 2.5vh, 2.5vh);
$font-Fira-Code: 'Fira Code', sans-serif;
$font-Montserrat: 'Montserrat', sans-serif;
$font-Open-Sans: 'Open Sans', sans-serif;
$font-Roboto: 'Roboto', sans-serif;
$font-Maven-Pro: 'Maven Pro', sans-serif;
$font-Arial: Arial, sans-serif;
$font-Color-Red: #ff0000;
$font-Color-Black: #000000;
$font-Color-White: #ffffff;
$font-Color-Blue: #0000be;
$border-page-light: 1px solid #808080;
$border-page-dark: 1px solid #000000;
$box-border-light: 1px solid #80808000;
$box-border-transparent: 1px solid #ffffff00;
$margin-leftIcon: 20px;
